name: check
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['lts/*']
    name: Check on node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - run: yarn install
      - run: make
